.block-ruauu {
    margin-bottom: 3em;
}
#block-ruauu-ruauu h2{
    margin-bottom: 0;
    font-size: 1.4em;
    line-height: 2em;
    margin: 0 3em;
}

.block-ruauu h2 {
    margin-bottom: 0;
    border-bottom: none;
    text-align: center;
    background-color: steelblue;
    /*padding-left: .7em;*/
    font-family: sans-serif, serif;
    font-weight: 700;
    cursor: pointer;
    /*color: #0D559B;*/
    color: white;
    /*text-decoration: underline;*/
}
.questions {
    display: none;
    color: #0D559B;
    font-size: 1.1em;
    /*background-color: #AECFBB;*/
    background-color: rgba(176, 196, 222, 0.64);
    padding: 1em 2em;;
}
.block-ruauu ul {
    /*line-height: 2em;*/
    padding: 0 0 0.25em 1em;
    color: #07529B;
}
.block-ruauu ul li{
    font-size: 1em;
    list-style-type: disc;
    margin-bottom: 0.5em;
}
.block-ruauu a:link {
    font-size: 1em;
}
