#sidebar-first .block, #sidebar-second .block {
    padding: 0 0 18px 0;
}
/* Homepage Right rail sidebar blocks */
.region-sidebar-second .block ul {
    margin: 0;
    padding: 0;
}
.region-sidebar-second .block ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*font-weight: bold ;*/
}.region-sidebar-second .block ul li ul li {
    list-style-type: circle;
    margin-left: 1.2em;
    padding: 0;
    font-weight: normal;
}
 .region-sidebar-second #blogs {
     /*text-align:center;*/
     background-image: url('../images/blogspot.png');
     background-repeat: no-repeat;
     background-position: 130px;
 }
 .region-sidebar-second #blogs ul li:first-of-type {
     float:left;
     margin-right: 34px;
 }
.region-sidebar-second #blogs img {
    border: 1px solid #a8a8a8;
    padding: 3px;
}
.region-sidebar-second .block-webform .form-actions {
    text-align: center;
}
/*-----------  Right Rail Blocks ---------------*/
#sunday-schedule {
    text-align: center;
}
#sunday-schedule ul li ul li {
    font-weight: normal;
    margin-bottom: .5em;
}
/*---- Agenda in Right Rail -----*/
.block .agenda-block ol li .calendar_title {
    cursor: auto;
}
.agenda-block p {
    font-weight: bold;
    /*background-color: #b0c4de;*/
    background-color: rgba(176, 196, 222, 0.64);
}
.block .agenda-block ol li {
    display: inherit;
    color: inherit;
    font-size: inherit;
    padding: 0 1em;
}
.agenda-block .cal_0 {
    background-color: inherit;
}
.agenda-block .calendar_title {
    font-weight: bold;
}
.block .agenda-block .moreinfo {
    display: inline;
    font-size: 90%;
}
li.cal_0 span::after {
    content: ":\00a0\00a0";
}
/*------------- Sunday Sermons Block ---------*/
ul.sermon {
    padding-left: 0;
}
ul.sermon li.date,
ul.sermon li.speaker {
    display: inline;
}
ul.sermon li.topic {
    margin-left: 0;
}
ul.sermon li.topic img {
    /*margin-left: 2em;*/
    vertical-align: top;
    /*padding-left: 2em;*/
}
/*------  Sermons listing page: reverse the normal link text underline behavior ------*/
#block-views-sermons-block-1 a{
    text-decoration: none;
}
#block-views-sermons-block-1 a:hover {
    text-decoration: underline;
}
/*----------------  Google Calendar Block*/
/*  The view container's height needs to be increased so that if the "more" is opened for the bottom cell row, all items
    will be viewed in that window.  Currently, the last row in that popup is hidden because the height does not allow it.*/
#viewContainer1 {
    height: 560px !important;
}
/*---------- Concert Series Block --------------------------------*/
.upcoming-concerts,
.recent-concerts {
    border-top: solid 1em #EC9759;
}
.recent-concerts {
    margin-top: 4em;
}
.upcoming-concerts .view-header,
.recent-concerts .view-header {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}
.recent-concerts span.views-field-title span{
    color: #5294C1;
    font-weight: bold;
    font-size: larger;
}
/*--------------- Auction -----------------------*/

.auction-slogan {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #437489;
    font-style: italic;
}
.auction-ticket-info {
    /*width: 85%;*/
    margin: 0 auto;
    font-size: 1.1em;
}
.auction-ticket-info {
    margin-bottom: 2em;
}
.auction-ticket-info p {
    margin: 0 0 5px 0;
}
#webform-client-form-369 #webform-component-estimated-value,
#webform-client-form-369 #webform-component-phone {
    margin-right: 12px;
}
#webform-client-form-369 #webform-component-estimated-value,
#webform-client-form-369 #webform-component-donors-name,
#webform-client-form-369 #webform-component-address,
#webform-client-form-369 #webform-component-phone,
#webform-client-form-369 #webform-component-e-mail {
    float: left;
}
#webform-client-form-369 .form-actions {
    clear: both;
}
#block-webform-client-block-369,
#block-webform-client-block-369 .form-submit {
    color: #437489;
}
#testimonial {
    text-align:center;
    background-color: #98B4C8;
    padding: 2em;
    overflow: hidden;
}

/* Tweaks for Auction 2015.  These can be modified or deleted for subsequent years */
div#block-views-auction-block-6 {
    float: left;
    margin-right: 3em;
}
div#block-views-auction-block-2 {
    margin-top: 5em;
}
div#block-views-auction-block-3 {
    clear: both;
}
#block-views-newsletters-block-2 .views-field-field-sunday-date {
    float: left;
    margin-right: 1em;
}