/* Homepage Right rail sidebar blocks */
.region-sidebar-second .block ul {
    margin: 0;
    padding: 0;
}
.region-sidebar-second .block ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*font-weight: bold ;*/
}.region-sidebar-second .block ul li ul li {
    list-style-type: none;
    margin-left: 1.2em;
    padding: 0;
    font-weight: normal;
}
 .region-sidebar-second #blogs {
     /*text-align:center;*/
     background-image: url('../images/blogspot.png');
     background-repeat: no-repeat;
     background-position: 130px;
 }
 .region-sidebar-second #blogs ul li:first-of-type {
     float:left;
     margin-right: 34px;
 }
.region-sidebar-second #blogs img {
    border: 1px solid #a8a8a8;
    padding: 3px;
}
/*-----------  Right Rail Blocks ---------------*/
#sunday-schedule {
    text-align: center;
}
#sunday-schedule ul li ul li {
    font-weight: normal;
    margin-bottom: .5em;
}
/*---- Agenda in Right Rail -----*/
.agenda-block p {
    font-weight: bold;
    /*background-color: #b0c4de;*/
    background-color: rgba(176, 196, 222, 0.64);
}
.block .agenda-block ol li {
    display: inherit;
    color: inherit;
    font-size: inherit;
    padding: 0 1em;
}
.agenda-block .cal_0 {
    background-color: inherit;
}
.agenda-block .calendar_title {
    font-weight: bold;
}
.block .agenda-block .moreinfo {
    display: inline;
    font-size: 90%;
}
li.cal_0 span::after {
    content: ":\00a0\00a0";
}
/*------------- Sunday Sermons Block ---------*/
ul.sermon li.date,
ul.sermon li.speaker {
    display: inline;
}
ul.sermon li.topic {
    margin-left: 2em;
}
/*------  Sermons listing page: reverse the normal link text underline behavior ------*/
#block-views-sermons-block-1 a{
    text-decoration: none;
}
#block-views-sermons-block-1 a:hover {
    text-decoration: underline;
}
