.align-left {
    float: left;
    border: 1px solid black;
}
.align-right {
    float: right;
    border: 1px solid black;
    margin-left: 10px;
}
body {
    font-size: 15px;
}
h1 {
    color: #C05504;
}
h2 {
clear:both;
font-size: 160%;
line-height: 130%;
border-bottom: #5294C1 solid 1px;
text-align: left;
}
h3 {
font-size: 120%;
color: #5294C1;
font-weight: bold;
text-align: left;
margin-bottom: .5em;
}
hr {
    clear: both;
    margin: 10px 0 10px;
    height: 0;
    border-width: 1px 0 0;
}
#header {
    margin-top: 0;
    -webkit-box-shadow: 0 9px 13px -11px rgba(0,0,0,0.8);
   	-moz-box-shadow: 0 9px 13px -11px rgba(0,0,0,0.8);
    box-shadow: 0 9px 13px -11px rgba(0,0,0,0.8);
}
/**************  FlexSlider (slideshow) on Homepage */
/*.view-header-slideshow-images .flexslider*/
/*.flexslider .slides > li:last-child {display: block; -webkit-backface-visibility: visible;}*/
.flexslider .slides .flex-active-slide {display: block; -webkit-backface-visibility: visible;}

.view-id-header_slideshow_images .flexslider {
    border:none;
    margin-bottom: 0;
}
.views-field-field-text-for-image,
.views-field-field-image-text {
    position: absolute;
    bottom: 35px;
    right: 0px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    background-color: white;
    padding: 0 10px;
}
.flex-control-nav {
    /*left: 420px;*/
    color: white;
    /*top: 130px;*/
    z-index: 2;
    bottom: 0;
    text-align: right;
}

.flex-control-paging li a {
    background: #FFF;
    color: transparent;
}
.flex-control-paging li a.flex-active {
    background: rgb(114, 28, 28);
    cursor: default;
}
.transparent_class {  /* workarounds for opacity in various browsers */
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=70);

  /* Netscape */
  -moz-opacity: 0.7;

  /* Safari 1.x */
  -khtml-opacity: 0.7;

  /* Good browsers */
  opacity: 0.7;
}
/*---------------------- Menus */
    /* Superfish menu tweaks */
#navigation {
    margin-right: 0;
    margin-top: 12px;
}
#navigation ul.sf-menu ul { overflow: visible !important;}      /* to get 3rd tier submenus to show using Superfish Module */
.sf-sub-indicator {
height: 2px;  /* override def in superfish.css because of wrong offset when window resizes */
    }
#superfish-1-select {display: none;} /* skeleton creates a select version of menu. Wd prob be better
                                        to suppress that, but this was quicker */
    /* ---------- superfish tweaks*/
#navigation ul li a,
#navigation ul.sf-menu li a
{
    padding: 5px 25px;
}
#navigation ul ul ul[style],
#navigation ul.sf-menu ul ul[style]
{
    left: 11.1em !important;
}
#navigation ul li:hover ul,
#navigation ul.sf-menu li:hover ul
{
    top: 25px;
}
/*#navigation ul, #navigation ul.sf-menu { width: inherit;}*/
#block-menu-menu-tertiary-menu ul li a {
    font-size: 14px;
}
/*----------------------header*/
#header-home-link {
    /*max-width: 100%;*/
}
#header .inner {
    padding: 0
}
/*breadcrumb*/
#breadcrumb {
    background: none;
    border: none;
}
/* footer */
.region-footer {
    text-align: center;
}
/* ---------  Social Buttons */
#social {
    margin-left: 0;
    margin-top: 10px;
    /*width: 80px;*/
    text-align: center;
    float: right;
}
#footer #social {
    float: none;
}
#social ul {
    /*width: 135px;*/
    width: 90px;
    margin: 0 auto;
    height: 28px;
    padding-top: 5px;
    padding-left: 0;
}
#social ul li {
    padding-top: 0px;
}
#social li {
    list-style: none;
    float: left;
    padding-right: 5px;
}
#social li a {
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/social-icons-24.png') no-repeat;
    text-indent: -9999px;
}
#social li a.twitter,
#navigation li a.twitter {
    background-position: 0px 0px;
}
#social li a.facebook{
    background-position: 0px -24px;
}
#social li a.googleplus {
    background-position: 0px -120px;
}
/* --------------- END Social Buttons */

/* Right Rail */
.region-sidebar-second h2 {
    border: none;
    background: rgb(114, 28, 28);
    color: rgb(255, 255, 255);
    height: 20px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 2px;
    font-size: 15px;
    letter-spacing: 1px;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    -moz-border-radius-top-left: 21px;
    -moz-border-radius-bottom-left: 21px;
    -webkit-border-top-left-radius: 21px;
    -webkit-border-bottom-left-radius: 21px;
}
.sidebar-second a:hover {
    color:#000000;
    text-decoration: underline;
}

/*---- Miscellaneous -----*/
.left-pic-border {
float: left;
border: medium solid #5294C1;
padding: 6px;
margin-top: 5px;
margin-right: 10px;
}
.right-pic-border {
	float: right;
	border: medium solid #5294C1;
	padding: 6px;
	margin:0em 0em 0em 2em;
}
.right-pic-no-border {
	float: right;
	margin-top: 0px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.cc-pic-1
{
	position: relative;
	top: 4px;
}
.cc-pic-2
{
	left: 60px;
	position: relative;
	top: -30px;
}
.cc-pic-3
{
	left: -190px;
	position: relative;
	top: -125px;
	margin-top: 20px;
}
.cc-pic-4
{
	left: 60px;
	position: relative;
	margin-top: 20px;
	top: -200px;
}
.region-content ul {
    margin: 0 0;
}
ul li,
ul li ul li {
    list-style-type: none;
}
.contact-staff ul li ul {
    margin: 0 0 5px;
}
.boxed {
	border:solid 1px #5294C1;
	padding:5px;
}
.center {
	margin:0 auto;
	text-align:center;
}
.staff {
    margin-bottom: 2em;
    overflow: auto;
}
#mission {
    margin-bottom: 20px;
    /*border-top: 15px solid #a8a8a8;*/
    padding-top: .2em;
}
#mission > p {
    background-color: #e2e2e2;
}
#teaser-photo {
    height: 160px;
}
.node-photo-gallery .field-item {
    float: left;
    margin-right: 2%;
}
a:link, a:visited {
	color:#721C1C;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
}

.views-label-field-sermon-date,
.views-field-field-sermon-date .field-content {
    font-weight: bold;
    float: left;
}

/*div.page-section*/
/*{*/
    /*overflow: hidden;*/
    /*border-top: 20px solid #aeaeae;*/
/*}*/
div.title {
    background-color: #aeaeae;
}
.page-section h2 {
    font-size: inherit;
    letter-spacing: .03em;
    padding-left: .7em;
    background-color: #aeaeae;
    border: none;
}
div.page-section ul
 {
    list-style-type: none;
    margin-top: -1px;
    padding: 0;
}

div.page-section img
 {
    padding: 3px;
    border: 1px solid #aeaeae;
}
#music-adam li {
    text-align: center;
}
.page-section #music-adam iframe {
    padding: 10px;
}
/*-----------------------------------------------------------------------------------------------*/
/* mobile browsers */
@media only screen and (max-width: 767px) {
    #header {
        /*background: #4b371f;*/
        text-align: center;
        margin-top: 0;
        /*height: 55px;*/  /* iteration 1 */
        /*height: 100px;      *//* iteration 2 */
        top: -.5em;
    }
        #site-name {
        visibility: visible;
        color: white;
        font-size: 2em;
    }

    #header-top ul.menu li {
        padding: 2px 0;
    }
    div.views-field-field-image-text {
        /*display: none;*/
        font-size: 10px;
    }
    .views-field-field-text-for-image,
    .views-field-field-image-text {
        bottom: 0px;
    }
    .flex-control-nav {
        display: none;
    }
}
