.right-rail-block h2 {
    border: none;
    background: #721C1C;
    color: white;
    height: 17px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 2px;
    font-size: 15px;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    -moz-border-radius-top-left: 21px;
    -moz-border-radius-bottom-left: 21px;
    -webkit-border-top-left-radius: 21px;
    -webkit-border-bottom-left-radius: 21px;
}
.right-rail-block .content {
    margin-left: .5em;
}
.newsletter
{
    /*	margin-top: -75px;*/
    margin-top: 5px;
}

/*----------  Minister Blog Theme:  Custom theme for blocks via the module "BlockTheme"*/
.minister-blog
{
	border: 1px solid #8A3429;
	padding:0.5em;
	clear:both;
	max-width: 178px;
}
#IEroot #block-blog-0
{
	width: 207px;
}
.minister-blog h2 
{
	border-bottom:1px solid #000000;
	color:#000000;
	font-family:'Trebuchet MS',Verdana,sans-serif;
	font-size:small;
	font-weight:bold;
	letter-spacing:0.3em;
	line-height:normal;
	margin:5px 0;
	padding:3px;
	text-align:left;
	text-transform:uppercase;
}
.minister-blog ul
{
	margin: 0.35em 0 0 -1.5em;
}
.minister-blog ul
{
	background: none;
}
/*.minister-blog ul li
{
	margin-left: -40px;
}*/
.minister-blog ul li a
{
	font-size: 12px;
}
/*----------  Weatherwatch Theme:  Custom theme for blocks via the module "BlockTheme"*/
.weatherwatch
{
/*	background-color: #eee;*/  /*#1*/
	/*border-top: 1px solid #721C1C;*/
	/*border-bottom: 1px solid #721C1C;*/
	/*width: 12em;  *//*mhg: 4-19-09*/
/*	margin: 0 2em;*/
/*	width: 15em;*/
	
	text-align: center;  /*mhg: 4-19-09*/
/*	margin: 0 auto;  /*mhg: 4-19-09*/
}
#sidebar-right .weatherwatch  /* #sidebar-right .block was overriding padding when it was in .weatherwatch.  So I put here.*/
{
	/*padding: 0px 9px 0px 0px; */
	/*width: 14.5em;*/
}

/*----------  Slideshow Theme:  A custom theme for blocks via the module "BlockTheme"*/
.slideshow
{
	background:#fff;
	color:#000;
	margin-top: 10px;
	margin-bottom: -10px;
}
.slideshow div
{
	text-align: center;
}

#block-views-AnniversaryItems-block_1 div a
{
	font-size:11px;
}


/*----------  Anniversary Theme:  A custom theme for blocks via the module "BlockTheme"*/
#sidebar-right .anniversary
{
	background:#EEEEEE none repeat scroll 0 0;
	margin-top:4em;
	padding:10px;
}
.anniversary h2
{
	font-size:16px;
	font-weight: bold;
	text-align: center;	
}

/*----------  Auction Categories Theme:  A custom theme for blocks via the module "BlockTheme"*/
.auction-categories
{
	border:2px solid #8b0000;
	margin:0px auto 60px;
	padding:0 10px;
/*	background-color: #E0E0EF;*/
}
.auction-categories a:link, .auction-categories a:visited
{
	font-family: Arial,Helvetica,sans-serif; 
	font-size: 14px; 
	font-weight: bolder;
	line-height: 10px;
}

div.auction-categories div.view-header
{
	font-size: 12px;
	font-weight:bold;
}

/*----------  Minister Packet Theme:  A custom theme for blocks via the module "BlockTheme"*/
.minister-packet
{
	border: 1px solid #8A3429;
	padding:0.5em;
	clear:both;
	max-width: 178px;
    width:210px;
}
#IEroot #block-packet-0
{
	width: 207px;
}
.minister-packet h2
{
	border-bottom:1px solid #000000;
	color:#000000;
	font-family:'Trebuchet MS',Verdana,sans-serif;
	font-size:small;
	font-weight:bold;
	letter-spacing:0.3em;
	line-height:normal;
	margin:5px 0;
	padding:3px;
	text-align:left;
	text-transform:uppercase;

}
.minister-packet ul
{
	margin: 0.35em 0 0 -1.5em;
}
.minister-packet ul
{
	background: none;
}
/*.minister-packet ul li
{
	margin-left: -40px;
}*/
.minister-packet ul li a
{
	font-size: 12px;
	/*max-width: */
}
